
<h1>PUB-GHM Recordings</h1>
<div>
<% if !@txt.empty? %>
<div style="width:100%"><pre style="font-size: 24px" dir="rtl"><%= @txt %></pre></div>
<% end %>
<% if !@jpg_url.empty? %>
<div><img src=<%= @jpg_url %>></div>
<% end %>
<% @wav_urls.each do |wav_url| %>
<div style="width:100%">
<audio preload="auto" controls volume="1.0">
    <source src=<%= wav_url[:url] %> type="audio/wav" volume="1.0">
</audio>
<a><%= wav_url[:name] %></a>
</div>
<% end %>
</div>